@import './../../../styles/variables';

.layout-container {
  padding: 0;
}

.video-section {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  margin-bottom: 1.5rem;

  mat-icon {
    color: white;
  }
}

#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-grey;
  opacity: 0.74;
}

.header-content {
  position: absolute;
  top: 40%;
  left: 50%;
  min-width: 80%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;

  h1 {
    font-size: 7vh;
    margin: 1rem;
  }

  p {
    font-size: 3vh;
    margin: 1rem;
  }
}

.scroll-down-button {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%) scale(2.5);
  z-index: 3;
  background: none;
  border: none;
  cursor: pointer;
}

.layout-container {
}

.spec-outline {
  margin: 1rem auto;
  outline: solid $dark-grey 2px;
  background-color: white;
  position: relative;
  width: 70%;

  .spec-header {
    position: absolute;
    font-weight: bold;
    font-size: 1.1rem;
    top: -11px;
    left: 6%;
    background-color: white;
    padding: 0 0.7rem;
    z-index: 1;
  }

  .spec-content {
    padding: 1.5rem 2rem 1.1rem;
    text-align: left;
  }

  .spec-row {
    padding: 0.1rem 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .spec-row-group {
    padding: 0.21rem 0;
  }

  .spec-cell-title {
    text-align: left;
  }

  .spec-cell-value {
    text-align: right;
    font-weight: bold;
  }
}

.warranty-outline {
  margin-top: 5vh;

  .spec-header {
    left: 8%;
  }
}

.card-grid-double {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: white;
  margin: 1rem 2rem;
  padding: 2rem;
  gap: 1rem;

  .spec-card {
    min-height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 80%;
    height: 80%;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }
}

.important-value {
  text-decoration: underline $dark-green;
  text-underline-offset: 3px;
}

.important-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: $dark-green;
  color: white;
  margin-left: 3px;
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
  font-size: 0.8rem;
}

.pricing-card-grid-double {
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: white;
  gap: 1rem;

  #price-card {
    order: 1;
  }

  #adjust-card {
    order: 2;
  }

  .img {
    width: 100%;
    height: 40%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 auto 3rem;
  }

  .pricing-card {
    min-height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .pricing-card-content {
    margin: 0 auto;
    text-align: left;

    .pricing-checkboxes {
      list-style-type: none;
      text-align: justify;
      margin: 1rem;
      padding: 1rem;
      max-width: 45rem;

      p {
        margin-left: 1rem;
      }
    }

    mat-slide-toggle {
      //line-height: 3.5;
    }

    .radio-button-li {
      margin-left: 4rem;
      margin-top: -0.5rem
    }
  }

  .pricing-footer {
    text-align: center;

    .pricing-footer-price {
      font-size: 3rem;
      font-weight: bold;
    }

    .pricing-footer-subtitle {
      font-size: 1.5rem;
      margin: 0.5rem;
      display: block;
    }

    .primary-button mat-icon {
      margin: 1rem;
    }
  }
}


.card-grid-single {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 2rem;
  padding: 3.5rem;
  background-color: white;

  .card-header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .card-header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $dark-grey;
  }

  .card-header-subtitle {
    font-size: 1rem;
    color: $grey;
    margin-top: 0.5rem;
    display: block;
  }

  .card-content {
    width: 100%;
  }

  .contact-fields {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 350px;
  }

  .contact-footer {
    text-align: center;
    margin: 0.5rem;
  }

  .terms-checkbox {
    text-align: justify;
    color: $dark-grey;
    max-width: 38rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
}

.primary-button {
  width: 90%;
  max-width: 300px;
  margin: 0;
}

@media (max-width: 900px) {
  .card-grid-double {
    grid-template-columns: 1fr;
    padding: 1.5rem;
    margin: 0.5rem;

    .img {
      background-position: center;
    }
  }

  .pricing-card-grid-double {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;

    #price-card {
      order: 2;
    }

    #adjust-card {
      order: 1;
    }

    .pricing-checkboxes {
      margin: 0.5rem !important;
      padding: 0 !important;
    }

  }

  .card-grid-single {
    margin: 0.5rem;
    padding: 1.5rem;
  }

  .spec-outline {
    width: 90%;
  }
}
