<div class="card-grid-single">
  <div class="section">
    <h1>Polityka Prywatności</h1>
    <div class="section-content">
      <h3>Administrator Danych</h3>
      <p>Administratorem danych osobowych jest {{ companyName }}, z siedzibą w {{ companyAddress }}. Możesz skontaktować się z nami pod adresem e-mail: {{emailContact}}.</p>

      <h3>Cel przetwarzania danych</h3>
      <p>Twoje dane osobowe przetwarzane są wyłącznie w celu:</p>
      <ul>
        <li>Odpowiedzi na Twoje zapytania dotyczące fotowoltaiki,</li>
        <li>Kontaktowania się w związku z przedstawieniem propozycji.</li>
      </ul>

      <h3>Podstawa prawna przetwarzania danych</h3>
      <p>Przetwarzamy Twoje dane na podstawie Twojej dobrowolnej zgody, która jest wymagana, abyśmy mogli się z Tobą skontaktować i przedstawić ofertę fotowoltaiki (art. 6 ust. 1 lit. a RODO). Zgoda jest dobrowolna, ale bez jej udzielenia nie będziemy mogli odpowiedzieć na Twoje zapytanie. Możesz wycofać zgodę w każdej chwili, pisząc na adres e-mail: {{emailContact}}.</p>

      <h3>Odbiorcy danych</h3>
      <p>Twoje dane nie będą przekazywane żadnym innym podmiotom bez Twojej wyraźnej zgody.</p>

      <h3>Okres przechowywania danych</h3>
      <p>Twoje dane będą przechowywane wyłącznie przez okres niezbędny do nawiązania kontaktu i przedstawienia oferty, po czym zostaną usunięte, chyba że wycofasz swoją zgodę wcześniej.</p>

      <h3>Twoje prawa</h3>
      <p>Masz prawo do:</p>
      <ul>
        <li>Dostępu do swoich danych,</li>
        <li>Sprostowania danych,</li>
        <li>Usunięcia danych ("prawo do bycia zapomnianym"),</li>
        <li>Ograniczenia przetwarzania,</li>
        <li>Przenoszenia danych,</li>
        <li>Cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania.</li>
        <li>Wniesienia skargi do organu nadzorczego, którym jest Prezes Urzędu Ochrony Danych Osobowych. Więcej informacji można znaleźć na stronie:
      </ul>
      <p>Masz również prawo do wniesienia skargi do organu nadzorczego, którym jest Prezes Urzędu Ochrony Danych Osobowych. Więcej informacji można znaleźć na stronie: <a href="https://uodo.gov.pl/">Prezes UODO</a>.</p>
      <h3>Kontakt</h3>
      <p>W sprawach związanych z ochroną danych osobowych możesz skontaktować się z nami pod adresem e-mail: {{emailContact}}.</p>
    </div>
  </div>
</div>
