@import './../../../styles/variables';

.content-title {
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 30px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

mat-slider {
  width: 300px;
}

mat-drawer, mat-drawer-container {
  background-color: $background-color;
}

.expansion-power-panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

h2 {
  text-transform: uppercase;
}
