$dark-grey: #333333;
$light-grey: #e0e0e0;
$grey: #666;
$light-green: #4caf50;
$dark-green: #189323;
$background-color: #f5f5f5;
$white-font: white;
$app-font: "Roboto", sans-serif !important;
$bold-font-weight: 570;
