<div class="homepage" style="background-image: url('/home-background.png');">
  <div class="content">
      <div class="logo">
        <img src="/logo-white.png" alt="Logo" class="logo-image">ILEKOSZTUJEPV.PL</div>
      <div class="title">
        <h2>BEZPŁATNY KALKULATOR</h2>
        <h1>FOTOWOLTAIKI</h1>
      </div>
      <div class="buttons-container">
        <p>WYBIERZ OPCJĘ</p>
        <div class="buttons">
          <button class="primary-button mat-elevation-z10" matRipple
                  (click)="goToCalculator('PRIVATE')">
            <mat-icon>home</mat-icon>Dom
          </button>
          <button class="primary-button mat-elevation-z10" matRipple
                  (click)="goToCalculator('ENTREPRENEUR')">
            <mat-icon>business</mat-icon>Firma
          </button>
        </div>
      </div>
  </div>
</div>
