.main-layout {
  padding: 0;
}
.mat-typography {
  text-align: justify;
}
.mat-typography *{
  font-size: 0.8rem;
}
.mat-typography h3{
  font-size: 1.2rem;
}
.section-content {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
