@use '@angular/material' as mat;
@use 'sass:map';

@use './styles/m3-theme';
@import './styles/variables';

html {
  @include mat.all-component-colors(m3-theme.$light-theme);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $dark-grey;
  box-sizing: border-box;
  font-family: $app-font;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $bold-font-weight;
}

body {
  justify-content: space-between;
  background-color: $background-color;
  text-align: center;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex-grow: 1;
  margin-top: 70px;
}

.main-layout{
  padding: 1em;
}

header, footer {
  background-color: $dark-grey;
  color: $white-font;
  text-align: center;
}

header {
  position: fixed;
  min-height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: $dark-grey;
  opacity: 0.9;
}

footer {
  padding: 15px 0;
  font-size: 15px;
  opacity: 0.9;
}

.progress-bar-container {
  padding: 1em
}

.progress-bar {
  width: 100%;
  background-color: $light-grey;
  overflow: hidden;
  border-radius: 3px;
}

.progress {
  height: 10px;
  background-color: $light-green;
  border-radius: 3px;
  transition: width 0.3s ease;
}

.primary-button {
  font-family: m3-theme.$app-font;
  margin: 0.5em;
  padding: 0.1em 0.1em;
  font-size: 1em;
  background-color: $light-green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 200px;
  min-height: 65px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: background-color 0.2s ease;


  &:hover {
    background-color: m3-theme.$dark-green;
  }

  &:focus, &.selected {
    outline: none;
  }

  &.selected {
    border: 2px solid m3-theme.$dark-green;
    box-shadow: inset 2px 2px 4px rgb(11, 124, 21), inset -1px -1px 3px rgb(124, 213, 130);
  }
}
.nav-button {
  font-family: m3-theme.$app-font;
  margin: 0.5em;
  padding: 0.8em 1em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 150px;
  height: 45px;
  color: $dark-grey;
  background-color: inherit;
}

.nav-button:hover {
  background-color: rgba(74, 74, 74, 0.44);
  color: white;
}

.nav-button:focus {
  outline: none;
  width: 148px;
  height: 43px;
}

button mat-icon {
  margin-right: 0.5em;
}

.nav-container {
  align-content: center;
}

mat-expansion-panel mat-expansion-panel-header mat-panel-title {
  font-family: m3-theme.$app-font;
}
mat-form-field{
  font-family: m3-theme.$app-font;
}
mat-label{
  font-family: m3-theme.$app-font;
}
mat-select {
  font-family: m3-theme.$app-font;
}
mat-option {
  font-family: m3-theme.$app-font;
}
mat-radio-group *{
  font-family: m3-theme.$app-font;
}
mat-slide-toggle *{
  font-family: m3-theme.$app-font;
}
mat-checkbox * {
  font-family: m3-theme.$app-font;
}

.snackbar {
  .mdc-snackbar__surface{
    border-radius: 8px !important;
    padding: 16px !important;
    margin: 1rem !important;
    margin-top: 8vh !important;
    margin-bottom: 80px !important;
    font-size: 10rem !important;
    opacity: 98%;
    border-left: solid $dark-grey;
    border-bottom: solid $dark-grey;
  }
  .mdc-snackbar__label	{
    color: white !important;
    font-family: $app-font !important;
    font-size: 1.2rem !important;
  }
  .mat-mdc-snack-bar-actions{
    button{
      color: white !important;
      margin-left: 8px !important;
    }
  }
}
.snackbar-success {
  .mdc-snackbar__surface{
    background-color: $dark-green !important;
  }
}
.snackbar-warning {
  .mdc-snackbar__surface{
    background-color: $background-color !important;
    border-left: solid #bd7373;
    border-bottom: solid #bd7373;
  }
  .mdc-snackbar__label	{
    color: #803232 !important;
  }
  .mat-mdc-snack-bar-actions{
    button{
      color: #803232 !important;
    }
  }
}

.text-animation {
  animation: tracking-in-contract 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
