#svgContainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.region-name {
  background-color: rgba(51, 51, 51, 0.65);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  display: none;
}
